<div id="container" [style.background-image]="'url('+background+')'">
    <h1>Lista de imagens</h1>
<div  *ngFor="let image of dataImages" id="image">
    <img src="{{image.url}}" alt="{{image.title}}" width="200px">
    <button type="button" (click)="setBackground(image.url)">Mudar plano de fundo</button>
</div>
<div id="pagination">
    <button (click)="getMoreImages(0)">1</button>
    <button (click)="getMoreImages(6)">2</button>
    <button (click)="getMoreImages(11)">3</button>
    <button (click)="getMoreImages(16)">4</button>
    <button (click)="getMoreImages(21)">5</button>
</div>

</div>