#container {
    height: 100%;
    width: 100vw;
    display: inline-block;
    background-size: cover;

    h1 {
        color: #fff;
    }

#image {
    margin: 10px;
}

button {
    margin: 10px;
    padding: 5px 15px;
    background-color: gray;
    color: white;
    border: none;
}

#pagination {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
   }
   }